APP_DEBUG=false
APP_HOST=0.0.0.0
APP_PORT=8000

DB_NAME=sciguide
DB_USER=postgres
DB_PASSWORD=test
DB_HOST=db
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
JWT_ALGORITHM=HS256
JWT_SECRET_KEY=change-me
